* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
  cursor:default;
}

#brand{
    font-size: 150%;
    font-weight: bolder;
    margin: 10px;
}

.active {
  background-color: white;
  font-weight: bold;
}

.navbar-text{
    font-weight: bold;
    color: black;
}

#logout{
  width: 230px;
}

.sidebar {
  margin-top: -12px;
  height: 100vh;
  min-width: 210px;
  background-color: #e3f2fd;
  position: fixed;
  z-index: 1;
  padding: 0%;
}
  .sidebar .nav-link {
    color: black;
    font-size: 125%;
    padding: 2%;
  }
  .sidebar .nav-link:hover {
    background-color: #97c9ff;
  }

  #invisible{
    color: #e3f2fd;
  }
  #invisible:hover{
    background-color: #e3f2fd;
    color: #e3f2fd;
  }

  .bi{
    margin-right: 10px;
  }

  .bottom-0{
    margin-bottom: 10px;
  }

  #lgout{
    color: red;
  }

.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.header-links a {
    text-decoration: none;
    color: #555;
    margin-left: 20px;
}

.card {
    background-color: #fff;
    padding: 12px;
    margin: 0.3%;
    width: 80vw;
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.closeIcon{
  margin-left: 10px;
  cursor: pointer; 
}

.card .text-success,.text-danger{
    font-size: larger;
}
@media(max-width:460px){
  #brand{
    font-size: medium;
    margin: 0;
  }

  .card{
    margin-top: 6%;
  }
}

@media (min-width:461px) and (max-width: 767px){
  .card{
    margin-top: 6%;
  }
}

@media (min-width:768px) and (max-width:991px){
  .card{
    width:65vw;
    margin-left:5%;
    margin-top: 6%;
  }
}

@media (min-width:992px) and (max-width:1199px){
  .card{
    margin-left: 5%;
    width: 75vw;
  }
}

@media (min-width:1200px){

}